<h1>Edit restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<%# # dont need this anymore bc we have the partal/rernder template %>
<%# <%= form_with model: @restaurant do |f| %>
  <%# <%= f.label :name %>
  <%# <%= f.text_field :name %>
  <%# <%= f.label :address %>
  <%# <%= f.text_field :address %>
  <%# <%= f.label :rating %>
  <%# <%= f.number_field :rating %>
  <%# <%= f.submit %>
<%# <% end %>
